.gdo-forum-unread {
    background: lightyellow !important;
}

.gdo-forum-subscribed .icon-email {
    color: green !important;
}

.gdo-forum-post-locked {
    opacity: 0.6;
    background: #fee !important;
}

